<!DOCTYPE html>
<html>
  <head>
    <title>
      Assignment Page
    </title>
  </head>
  <body>
    {% if authenticated == user %}
      <p> Classes </p>
      <ul>
        {% for class in allClasses %}
          <li>
            {{class.name}}
          </li>
          <form method = 'POST' action='{% url "editClass" user.username %}'>
            <input type='hidden' value="{{class.id}}" name="class_id" />
            {% csrf_token %}
            <button type="submit" > Edit Class </button class = "btn btn-primary">
          </form>
        {% endfor %}
        <br></br>
      </ul>
      <form method = 'POST' action='{% url "newClass" user.username %}'>
        {% csrf_token %}
        <button type="submit" > Make Class </button class = "btn btn-primary">
      </form>
      <form method='POST' action='{% url "index" %}'>
        {% csrf_token %}
        <button type = "submit"  class = "btn btn-primary"> Return Home </button>
      </form>
    {% else %}
      <p> You do not have permission to view this user's assignments. </p>
      <form method='POST' action='{% url "index" %}'>
        {% csrf_token %}
        <button type = "submit"  class = "btn btn-primary"> Return Home </button>
      </form>
      <form method='POST' action='{% url "index" %}'>
        {% csrf_token %}
        <button type = "submit"  class = "btn btn-primary"> Return Home </button>
      </form>
    {% endif %}
  </body>
</html>
