<!DOCTYPE html>
<html lang = "en">
<head>
  <title>
    Classes
  </title
  <meta charset="utf-8">
  <meta name= "viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href = "style.css">
</head>
  <nav class="navbar navbar-expand-sm bg-light navbar-light fixed-top">
    <a class="navbar-brand" href="{% url 'index' %}">
      Whipple Hill
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon">
      </span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav">
      {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'assignments' user.username %}">
            Assignments
          </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'classes' user.username %}">
              Classes
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href= "{% url 'profile' user.username %}">
              Profile
            </a>
        </li>
        <li class="nav-item">
          <form method = 'POST' action='{% url "newClass" user.username %}'>
            {% csrf_token %}
            <button type="submit" class = "btn btn-primary"> Add Class </button>
          </form>
        </li>
      {% else %}
        <form style="padding-bottom:1em;" method="POST">
          {% csrf_token %}
          <button type="submit" class="btn btn-info">Login</button>
          <table>
            {{ form }}
          </table>
        </form>
      {% endif %}
      </ul>
    </div>
  </nav>
  <br></br>
  <br></br>
  <body>
    {% if authenticated == user %}
      <div class = "col-xl-12 col-lg-12 col-md-12 col-sm-12">
        Classes:
      </div>
      <div class="row">
      {% for class in allClasses %}
        <div class = "card col-xl-4 col-lg-6 col-md-9 col-sm-12">
          <div class="caption card-body">
            {{class.name}}, {{class.teacher}}, {{class.description}}
            <form method = 'POST' action='{% url "editClass" user.username %}'>
              <input type='hidden' value="{{class.id}}" name="class_id" />
              {% csrf_token %}
              <button type="submit" class = "btn btn-primary" > Edit </button>
            </form>
          </div>
        </div>
      {% endfor %}
    </div>
    {% else %}
      <p> You do not have permission to view this user's classes. </p>
      <form method='POST' action='{% url "index" %}'>
        {% csrf_token %}
        <button type = "submit"  class = "btn btn-primary"> Return Home </button>
      </form>
    {% endif %}
  </body>
</html>
