<!DOCTYPE html>
<html>
  <head>
    <title>
      Edit Assignment
    </title>
  </head>
  <body>
    {% if authenticated == user %}
      <p> EDIT A CLASS </p>
      <form method='POST' action='{% url "saveclass" user.username %}'>
        <input type='hidden' value="{{class.id}}" name="class_id" />
        <label> Name </label>
        <input type = "Textbox" name = "className" value ='{{class.name}}'/>
        <label> Teacher </label>
        <input type = "Textbox" name = "classTeacher" value ='{{class.teacher}}'/>
        <label> Description </label>
        <input type = "Textbox" name = "classDescription" value ='{{class.description}}'/>
        {% csrf_token %}
        <button type = "submit"  class = "btn btn-primary"> Save Changes </button>
      </form>
      <form method='POST' action='{% url "deleteclass" user.username %}'>
        <input type='hidden' value="{{class.id}}" name="class_id" />
        {% csrf_token %}
        <button type = "submit"  class = "btn btn-primary"> Delete </button>
      </form>

    {% else %}
      <p> You do not have permission to edit this user's classes. </p>
    {% endif %}
  </body>
</html>
