<!DOCTYPE html>
<html>
<html>
<html lang = "en">
<head>
  <title>
    Edit Profile
  </title
  <meta charset="utf-8">
  <meta name= "viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href = "style.css">
</head>
  <nav class="navbar navbar-expand-sm bg-light navbar-light fixed-top">
    <a class="navbar-brand" href="{% url 'index' %}">
      Whipple Hill
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon">
      </span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav">
      {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'assignments' user.username %}">
            Assignments
          </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'classes' user.username %}">
              Classes
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href= "{% url 'profile' user.username %}">
              Profile
            </a>
        </li>
      {% else %}
        <form style="padding-bottom:1em;" method="POST">
          {% csrf_token %}
          <button type="submit" class="btn btn-info">Login</button>
          <table>
            {{ form }}
          </table>
        </form>
      {% endif %}
      </ul>
    </div>
  </nav>
  <br></br>
  <br></br>
  <body>
    <p> EDIT YOUR PROFILE </p>
  {% if authenticated == user %}
    <form method='POST' action='{% url "profile" user.username %}'
      <label> Name </label>
      <input type = "Textbox" name = "profileName" value='{{profile.name}}'/>
      <label> Bio </label>
      <input type = "Textbox" name = "profileBio" value='{{profile.bio}}'/>
      <label> School </label>
      <input type = "Textbox" name = "profileSchool" value='{{profile.school}}'/>
      {% if profile.year_in_school == "freshman" %}
        <input type="radio" id="freshman" name="profileGrade" value = "freshman" checked>
         <label for="freshman">Freshman</label><br>
      {% else %}
        <input type="radio" id="freshman" name="profileGrade" value = "freshman">
        <label for="freshman">Freshman</label><br>
      {% endif %}
      {% if profile.year_in_school == "sophomore" %}
        <input type="radio" id="sophomore" name="profileGrade" value = "sophomore" checked>
        <label for="sophomore">Sophomore</label><br>
      {% else %}
        <input type="radio" id="sophomore" name="profileGrade" value = "sophomore">
         <label for="sophomore">Sophomore</label><br>
      {% endif %}
      {% if profile.year_in_school == "junior" %}
      <input type="radio" id="junior" name="profileGrade" value = "junior" checked>
      <label for="junior">Junior</label><br>
      {% else %}
        <input type="radio" id="junior" name="profileGrade" value = "junior" >
        <label for="junior">Junior</label><br>
      {% endif %}
      {% if profile.year_in_school == "senior" %}
        <input type="radio" id="senior" name="profileGrade" value = "senior" checked>
        <label for="junior">Senior</label><br>
      {% else %}
        <input type="radio" id="senior" name="profileGrade" value = "senior">
         <label for="junior">Senior</label><br>
      {% endif %}
      {% csrf_token %}
      <button type = "submit"  class = "btn btn-primary"> Save Changes </button>
    </form>
  {% else %}
    <p> You do not have permission to edit this user's profile.</p>
  {% endif %}
  </body>
</html>
