<!DOCTYPE html>
<html>
  <head>
    <title>
      Login Page
    </title>
  </head>
  <body>
    {% if user.is_authenticated %}
    <form style="padding-bottom:1em;" method="POST">
      {% csrf_token %}
      <input type="hidden" name="logout" value="logout"></input>
      <button type="submit" class="btn btn-danger">Logout</button>
    </form>
    <a href="{% url 'assignments' user.username %}">
      <button class="btn btn-info">Go To My Home</button>
    </a>
    {% else %}
    <form style="padding-bottom:1em;" method="POST">
          {% csrf_token %}
      <button type="submit" class="btn btn-danger">Login</button>
      <table>
        {{ form }}
      </table>
    </form>
    {% endif %}
  </body>
</html>
