<!DOCTYPE html>
<html>
  <head>
    <title>
      Make an Assignment
    </title>
  </head>
  <body>
    <form method='POST' action='{% url "assignments" user.username %}'
      <label> Name </label>
      <input type = "Textbox" name = "assignmentName"/>
      <label> Description </label>
      <input type = "Textbox" name = "assignmentDescription"/>
      <label> Due date </label>
      <input type = "datetime-local" name = "assignmentDue"/>
      <label> Complete </label>
      <input type = "checkbox" name = "assignment" value = "assignmentComplete"/>
      {% csrf_token %}
      <button type = "submit"  class = "btn btn-primary"> Submit </button>
    </form>
  </body>
</html>
