<!DOCTYPE html>
<html>
  <head>
    <title>
      Profile Page
    </title>
  </head>
  <body>
    <p> PROFILE PAGE </p>

      {% if profile == None %}
        <p> No user profile found </p>
      {% else %}
        {{profile.name}}
        {{profile.bio}}
        {{profile.school}}
        {{profile.year_in_school}}
      {% endif %}
      {% if authenticated == user %}
        {% if profile == None %}
        <form method = 'POST' action='{% url "create" user.username %}'>
          {% csrf_token %}
          <button type="submit"> Create Profile </button class = "btn btn-primary">
        </form>
        <form method='POST' action='{% url "index" %}'>
          {% csrf_token %}
          <button type = "submit"  class = "btn btn-primary"> Return Home </button>
        </form>
        {% else %}
        <form method = 'POST' action='{% url "edit" user.username %}'>
        {% csrf_token %}
        <button type="submit"> Edit </button class = "btn btn-primary">
        </form>
        <form method='POST' action='{% url "index" %}'>
          {% csrf_token %}
          <button type = "submit"  class = "btn btn-primary"> Return Home </button>
        </form>
      {% endif %}
    {% endif %}
  </body>
</html>
